
form {
	width: 500px;
	margin: 0 auto;
}

body {
  margin-top: 0;
  background: #fafafa;
  color: #333333;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  transform-style: preserve-3d;
  font-size: 62.5%;

}


/*for post content*/
.post-content{
  font-size: 18px;
  line-height: 1.9;
}
/**/
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

p{
  width: 500px;
  margin: 0 auto;
  /*text-align: center;*/
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #778899;
}
/*what the fuck is the below one*/
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/*code for parallax is below*/

/*************************************************************
  HEADER
**************************************************************/
/*header {*/
/*  position: relative;*/
/*  min-height: 100vh;*/
/*  width: 100%;*/
/*  transform-style: inherit;*/
/*  z-index: -1;*/
/*}*/

/*header::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: 0; left: 0; right: 0; bottom: 0;*/
/*  display: block;*/
/*  background: url( ./scraper_bg.webp ) top center;*/
/*  background-size: cover;*/
/*  transform: translateZ(-1px) scale(2.1);*/
/*  min-height: 100%;*/
/*  z-index: -2;*/
/*}*/
.header_params {
  position: relative;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}

.header_params::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url(results.png) top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  min-height: 100%;
  z-index: -2;
}
.header_analyer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}

.header_analyer::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url( questions.png ) top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  min-height: 100%;
  z-index: -2;
}
.header_home {
  position: relative;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}

.header_home::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url(home.jpeg) top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  min-height: 100%;
  z-index: -2;
}



/*************************************************************
  SECTIONS
**************************************************************/
section {
  position: relative;
  height: auto;
  width: 100%;
  transform-style: inherit;
}

.section1 {
  background: #fafafa;
  box-shadow: 0 0 20px #333;
  z-index: 1;
}

/*************************************************************
  HEADINGS
**************************************************************/
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  padding: 1rem;
  color: #fafafa;
  top: 50%;
  left: 50%;
  transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}

.section1 h1 {
  z-index: 3;
  transform: translate(-50%, -50%);
  box-shadow: none;
}


/*************************************************************
  BASIC STYLES
**************************************************************/
*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
